# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
venv/
env/
.env

# --- Data from Jupyter Notebooks ---
.ipynb_checkpoints
*/.ipynb_checkpoints/*
.ipynb.kernel.*

# --- IDE & Editors ---
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# --- Any data from run ---

*.log
*.npy
*.csv
*.bin
